fastapi>=0.95
uvicorn[standard]>=0.22
pandas>=1.5
python-multipart>=0.0.6
chardet>=5.1
pytest>=7.2

nltk>=3.8
spacy>=3.5
emoji>=2.2
pyspellchecker>=0.7.0

scikit-learn>=1.2
joblib>=1.2

matplotlib>=3.6
wordcloud>=1.8
 
