@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


@import "tailwindcss";

*{
    font-family: 'Outfit', sans-serif;
    scroll-behavior: smooth;
}
@theme{
    /* --color-primary: #4F46E5; */
    --color-primary: #312ECB;
}